body{
    color: coral;
    font-family: 'Courier New', Courier, monospace
    text-align: left;
    font-size: 16px;

}

#cabecera{
    background: forestgreen;
    color: khaki;
    margin: 0cm;
    padding: 0.5em;
    font-weight: bold;
    box-shadow: 0px 5px 30px 0px;
}

#cabecera #tagline{
    color: lightcoral;
    font-weight: bold;
    font-size: 10px;
    padding: 0 0 0 0.5em;
}
#container{
    width: 70%;
    padding: 1cm;
    text-align: center;
    border: 1px solid #ABC;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}